* {
    box-sizing: border-box;
}

body {
    width: 1366px;
    height: 768px;
    margin: 0;
    background-color: #F5EAEA;
}

header {
    width: 1366px;
    height: 50px;
    background-color: #FFB84C;
    position: fixed;
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-container {
    width: 200px;
    display: flex;
    align-items: center;
}

#logo-container img {
    height: 35px;
    margin-left: 40px;
    margin-right: 5px;
}

#logo-container p a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.9em;
    text-decoration: none;
    color: #F5EAEA;
}

#links-container {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#links-container li {
    list-style-type: none;
}

#links-container li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #A459D1;
}

#links-container li a:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #F16767;
}

main {
    height: 700px;
    margin-top: 60px;
}

#card-exemple-container {
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* border: solid 2px red; */
}

#card-exemple-container h3 {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
    color: #A459D1;
    margin-top: 40px;
    margin-bottom: 40px;
}

#card {
    width: 300px;
    height: 189px;
    border-radius: 25px;
    margin-bottom: 25px;
    background-color: #F16767;
    box-shadow: 10px 8px 5px #578384;
}

#input-container {
    width: 300px;
    height: 260px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 20px;
    border: solid 2px red;
}




footer {
    height: 110px;
    background-color: #A459D1;
}